<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
   <h3 class="my-0 mr-md-auto font-weight-normal">
        <app-header></app-header>
   </h3>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none"[routerLink]="['/shop']">Shop</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
      <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>
    </nav>
    <a class="btn btn-primary py-1 ms-5" [routerLink]="['/register']">Sign up</a>
    <a class="btn btn-outline-secondary py-1" [routerLink]="['/login']">Login</a>
  </div>