/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
  font-family: "Poppins", sans-serif;
}

.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

.guest-form-card h3 {
  text-transform: uppercase;
  font-size: x-large;
}

.guest-form-card {
  font-size: medium;
}
